{% extends 'mysite/base.html' %}

{% block content %}
{% if request.user.is_superuser %}
<div class="container">
    <h1>Создание статьи</h1>
    <form action="{% url 'addpost' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for f in form %}
        <div class="form-group">
            <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}
        </div>
        <br>
        {% endfor %}
        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>
</div>
{% endif %}
{% endblock %}

