{% extends 'mysite/base.html' %}

{% block content %}
<div class="container-xxl">
    <div class="row align-items-md-stretch">
        {% for m in posts %}
        <div class="col-md-4 mt-4">
            <div class="h-100 p-3 bg-secondary bg-opacity-25 mx-auto border rounded-3">
                <h2>{{ m.title }}</h2>
                {% if m.photo %}
                <img class="card-img-top" src="{{m.photo.url}}">
                {% endif %}
                {% autoescape on %}
                <p>{{m.content|linebreaks|truncatewords:20}}</p>
                {% endautoescape %}
                <div>
                <a class="btn btn-success" href="{% url 'showpost' m.slug %}">Смотреть...</a>
                    </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
