{% extends 'mysite/base.html' %}

{% block content %}
<div class="container-xxl">
    <div class="row align-items-md-stretch">
        {% for m in object_list %}
        <div class="col-md-4 mt-4 position-relative">
            <div class="h-100 p-3 pb-5 bg-secondary bg-opacity-25 border rounded-3">
                <h2>{{ m.title }}</h2>
                {% if m.photo %}
                <img class="card-img-top" src="{{m.photo.url}}">
                {% endif %}
                {% autoescape on %}
                <p>{{m.content|linebreaks|truncatewords:20}}</p>
                {% endautoescape %}
                <a class="btn btn-success" style="left: 33%; bottom: 3%; width: 33%; position: absolute" href="{% url 'showpost' m.slug %}">Смотреть...</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}